@model MissionaryApp.Models.Contact

@{
    ViewBag.Title = "Contact";

    List<string> subjectList = new List<string>();
    subjectList.Add("General Question");
    subjectList.Add("Make a Suggestion");
    subjectList.Add("Report a Problem");
    subjectList.Add("Other");

}
<br />
<h2>Contact Us!</h2>

<div class="card-group">
    <div class="card">
        <div class="card-body">

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <h2 class="card-title">Send us a message!</h2>
                <br />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Subject, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownListFor(model => model.Subject, new SelectList(subjectList, "Select a subject"), new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Subject, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Message, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextAreaFor(model => model.Message, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Message, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Send" class="btn btn-default" />
                    </div>
                </div>
            </div>

        }
       </div>

    </div>

    <div class="card">
        <div class="card-body">
            <h2 class="card-title">Our Contact Info</h2>
            <h4>Phone: </h4> <h6>(801) 234-5678</h6>
            <br />
            <h4>FAX: </h4> <h6>JK Nobody faxes anymore lol</h6>
            <br />
            <h4>Email: </h4> <h6>ajarconsulting@gibsonj.net</h6>
            <br />
            <h4>Address: </h4><h6>48 W 880 N Apt 310<br />Provo, UT, 84604</h6>
            <br />
            <h4>Instagram: </h4><h6>@@Ajarconsulting</h6>

        </div>
    </div>
</div>