<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
</head>
<body>
    <nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top" id="navbar">
        @Html.ActionLink("Mission Site", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav">
                <li class="nav-item dropdown show">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="@Url.Action("Index", "Missions")" role="button" aria-haspopup="true" aria-expanded="false">Missions</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="@Url.Action("Faqs", "Missions", new { controller = "Missions", action = "Faqs", mission = "peruTrujillo"})">Peru Trujillo</a>
                        <a class="dropdown-item" href="@Url.Action("Faqs", "Missions", new { controller = "Missions", action = "Faqs", mission = "mexicoTampico"})">Mexico Tampico</a>
                        <a class="dropdown-item" href="@Url.Action("Faqs", "Missions", new { controller = "Missions", action = "Faqs", mission = "russiaNovo"})">Russia Novosibirsk</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("About", "Home")">About us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Contact", "Home")">Contact</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - AJAR Mission Corp.</p>
        </footer>
    </div>

    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>